{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erl_nodes_autodiscovery]}
]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors]},
        {relx, [{dev_mode, false}]}
    ]}
]}.

{relx, [{release, {"erl_nodes_autodiscovery", "0.0.1"}, [erl_nodes_autodiscovery]},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"},
        {dev_mode, true},
        {include_erts, true},
        {extended_start_script, true}
    ]}.